
    .front-page-img {
      display: flex;
      justify-content: center;
      align-items: center;
    }
 

    .front-page-img-sec {
      background-color: hsl(24deg 100% 50%);
      width: 89%;
      height: 430px;
      border-radius: 10px;
      margin: 110px 0 40px 0;
      /* color: white; */
      display: flex;
      align-items: center;

    }

    .summer-collection {
      margin-left: 50px;
    }

    .summer-collection h1 {
      font-size: 2.4rem;
      margin-bottom: 20px;
    }

    .summer-collection p {
      font-size: 18px;
      margin-bottom: 20px;
    }

    .shop-now-btn {
      background-color: rgb(48, 44, 44);
      /* color: white; */
      padding: 10px 12px;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      transition: all 0.3s ease;
    }

    .shop-now-btn:hover {
      background-color: rgb(91, 67, 67);
    }

    .container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

    .toast-container {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 9999;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .toast {
      min-width: 250px;
      background-color:hsl(224, 30%, 17%);
      color: #fff;
      padding: 12px 16px;
      border-radius: 8px;
      font-size: 16px;
      opacity: 0;
      animation: fadein 0.5s forwards, fadeout 0.5s 2.5s forwards;
    }

    @keyframes fadein {
      from { opacity: 0; transform: translateY(20px); }
      to { opacity: 1; transform: translateY(0); }
    }

    @keyframes fadeout {
      to { opacity: 0; transform: translateY(20px); }
    }

@media (max-width: 768px) {
  .products-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .products-right-header {
    flex-wrap: wrap;
  }

  .product-img-container {
    max-height: 200px;
  }

  .add-to-cart-container {
    flex-direction: column;
    gap: 10px;
  }
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-box {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
}
